@import "pico.css";

/* Pico configuration. */
:root {
  --pico-font-size: 16px;
}

/* Utilities. */
.w-4 {
  width: calc(4 * var(--pico-spacing));
}
.w-full {
  width: 100%;
}
.max-w-full {
  max-width: 100%;
}
.mt-1 {
  margin-top: var(--pico-spacing);
}
.mr-auto {
  margin-right: auto;
}
.mb-1 {
  margin-bottom: var(--pico-spacing);
}
.mb-2 {
  margin-bottom: calc(2 * var(--pico-spacing));
}
.flex {
  display: flex;
}
.flex.row {
  flex-direction: row;
}
.flex.col {
  flex-direction: column;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-auto {
  flex: 1 1 auto;
}
.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 1rem;
}
.hidden {
  display: none;
}
.sticky-footer {
  position: sticky;
  bottom: 0;
  padding-top: var(--pico-spacing);
  background: var(--pico-background-color);
}

/* Customization. */

@view-transition {
  navigation: auto;
}

:root {
  --highlight-factor: 0.8;
  --target: hsl(240, 100%, 34%);
  --mark: hsl(29, 100%, 40%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --highlight-factor: 1.5;
    --target: hsl(240, 100%, 70%);
    --mark: hsl(29, 100%, 70%);
  }
}

html {
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  gap: 5rem;
  margin-bottom: 2rem;

  > .title {
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.75;

    img {
      display: inline-block;
      max-height: 0.8em;
      margin: -0.2rem -0.2em 0.25rem -0.2em;
    }
  }

  &.loading img {
    animation: shake 0.5s ease-in-out alternate infinite;
    scale: 1.5;
    translate: 0 1.5rem;
  }

  > .version {
    position: absolute;
    left: 6.25rem;
    bottom: -0.5rem;
    padding: 0 0.25rem;
    font-size: 0.65rem;
    line-height: 1rem;
    border: solid 1px var(--pico-color);
    border-radius: 0.3rem;
  }

  @media (prefers-color-scheme: dark) {
    --glow: hsl(29, 100%, 70%);

    > .title {
      text-shadow: 0 0 0.25rem white, 0 0 0.5rem var(--glow),
        0 0 0.75rem var(--glow), 0 0 1rem var(--glow);
      color: white;

      img {
        filter: drop-shadow(0 0 0.05rem white)
          drop-shadow(0 0 0.1rem var(--glow))
          drop-shadow(0 0 0.15rem var(--glow))
          drop-shadow(0 0 0.2rem var(--glow));
      }
    }

    > .version {
      color: white;
      border-color: white;
      text-shadow: 0 0 0.05rem white, 0 0 0.1rem var(--glow),
        0 0 0.15rem var(--glow), 0 0 0.2rem var(--glow);
      box-shadow: 0 0 0.05rem white, 0 0 0.1rem var(--glow),
        0 0 0.15rem var(--glow), 0 0 0.2rem var(--glow);
    }
  }
}

@keyframes shake {
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

label > small {
  margin-left: var(--pico-spacing);
  opacity: 0.75;
}

/* Conversion results. */
.progress,
.fail {
  margin-top: 3rem;
}

.fail {
  color: var(--pico-del-color);
}

main.preview {
  display: grid;
  grid:
    auto / 1fr 0.5rem minmax(20ch, 70ch) 0.5rem minmax(min-content, auto)
    minmax(0.5rem, 1fr);
  grid-auto-flow: dense;
  align-content: start;
}

/* Header and task status. */
main.preview {
  > header {
    grid-column: 3;
    padding: 0 0.5rem;
  }

  > .status {
    grid-row: 2;
    grid-column: 3;
    display: inline-block;
    margin: 0 0.5rem 3rem 0.5rem;

    span {
      display: inline-block;
      min-width: calc(5 * var(--pico-spacing));
      padding-right: calc(0.5 * var(--pico-spacing));
    }
  }

  > .formats {
    grid-row: 2;
    grid-column: 5;
    margin-bottom: 3rem;
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    > .configDarkImg {
      display: none;
      grid-row: 2;
      grid-column: 6;
      margin-left: auto;
    }

    @media (prefers-color-scheme: dark) {
      > .configDarkImg {
        display: block;
      }
    }
  }
}

/* Invert images in dark mode (option). */
@media (prefers-color-scheme: dark) {
  main.preview:has(.configDarkImg > input:checked) {
    --img-hover-border: white;

    image,
    img {
      filter: invert(1) hue-rotate(180deg) saturate(1.25);
    }
  }
}

/* Document contents. */
main.preview {
  --img-hover-border: black;

  *[id] {
    scroll-margin-top: 20vh;
  }

  > .page {
    position: relative;
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: dense;
    grid-column: 1 / span 6;

    > .item {
      grid-column: 3;
      width: 100%;
      min-height: 3rem;
      max-height: fit-content;
      margin: 0;
      padding: 0.5rem;
      text-align: justify;
      background-color: var(--pico-background-color);

      cursor: pointer;

      &:hover {
        filter: brightness(var(--highlight-factor));
      }

      &.target {
        outline: 2px solid var(--target);
        z-index: 10;
      }
    }

    > .item.void {
      visibility: hidden;
    }

    /* Items out of content layer. */
    > .item:not(.body),
    > .item-markers:not(.body) {
      opacity: 0.5;
    }

    > li.item {
      list-style-type: none;
    }

    > .item.caption {
      padding: 0.5rem 1.5rem;
      font-size: 0.9rem;
    }

    > .item.table {
      min-width: 0;
      overflow-x: auto;

      table {
        font-size: 0.75rem;
        border-collapse: collapse;

        td {
          vertical-align: top;
        }

        td.header {
          font-weight: bold;
          background-color: var(--pico-code-background-color);
        }

        td.target {
          outline: solid 2px var(--target);
        }
      }
    }

    .annotation {
      margin: 0.5rem 1rem;
      font-size: 0.9rem;
      color: var(--mark);

      &::before {
        margin-right: 0.5rem;
        content: attr(data-kind);
        opacity: 0.7;
      }
    }

    .annotation[data-kind="description"] {
      white-space: pre-line;
    }

    .annotation[data-kind="classification"] {
      height: 1.5rem;
      display: flex;
      align-items: center;

      > div {
        padding: 0 0.25rem;
        background: var(--mark);
        border: solid 1px var(--pico-background-color);
        color: var(--pico-background-color);
        overflow: hidden;
        text-wrap: nowrap;
      }
    }

    > .item-markers {
      position: relative;
      grid-column: 2;
      padding-top: 0.125rem;
      padding-right: 0.5rem;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      font-family: monospace;
      font-size: 0.675rem;
      line-height: 1.25;
      letter-spacing: 0;
      color: var(--mark);
      white-space: nowrap;
      border-top: solid 1px var(--mark);

      > * {
        margin-right: 0.5rem;
      }

      > a {
        padding: 0.125rem 0.25rem;
        margin-top: 0.5rem;
        border-radius: 0.125rem;
        color: var(--pico-contrast-inverse);
        background-color: var(--target);
        text-decoration: none;
      }

      > a:hover {
        filter: brightness(--highlight-factor);
      }

      &:not(.target) > a {
        display: none;
      }

      &.group,
      &.grouped {
        border-left: 1px dashed var(--mark);
      }

      &.group {
        margin-top: 0.5rem;
        border-top: none;
      }
    }

    > .page-marker {
      grid-column: 4;

      &.border {
        transform: translateY(-1px);
        border-top: solid 1px var(--mark);
      }
    }

    > svg.page-image {
      grid-column: 5;
      position: sticky;
      top: 0.5rem;
      width: 100%;
      max-height: calc(100vh - 1rem);
      outline: 1px solid var(--mark);

      rect {
        stroke: var(--mark);
        stroke-width: 1px;
        fill: var(--target);
        fill-opacity: 0.0001; /* To activate hover. */
        cursor: pointer;

        &:hover {
          filter: brightness(0.8);
          fill-opacity: 0.1;
          stroke: var(--img-hover-border);
          stroke-width: 3px;
        }
      }

      rect.target {
        stroke: var(--target);
        stroke-width: 3px;
        stroke-dasharray: none;
      }

      text {
        font-size: 0.675rem;
        color: var(--mark);

        &.top-no {
          alignment-baseline: hanging;
        }
      }
    }
  }
}
